.sidenav-content {
  position: fixed;
  z-index: 2;
  width: -webkit-fill-available;
}

.sidenav {
  min-width: 200px;
  position: fixed;
  // top: 64px;

  button {
    text-align: left;
    justify-content: flex-start;
  }
}

.spacer {
  flex: 1 1 auto;
}

.page-container {
  position: relative;
  // height: calc(100vh - 2rem);
  width: -webkit-fill-available;
  overflow: auto;
  // top: 64px;
}
